<h2>Numpy</h2>

In [10]:
import numpy as np

mat1D = np.array([1,2,3,4,5,6,7,8,9])
mat2D = np.array([[10,20,30,40],[50,60,70,80],[90,100,110,120]])

print(f"Nilai mat1D :\n{mat1D}")
print(f"Nilai mat2D : \n{mat2D}")

Nilai mat1D :
[1 2 3 4 5 6 7 8 9]
Nilai mat2D :
[[ 10  20  30  40]
 [ 50  60  70  80]
 [ 90 100 110 120]]

In [22]:
print(mat1D[1]) #2
print(mat2D[1]) # [50 60 70 80]
print(mat2D[1][2]) #70
print(f"mat1D ditambah dengan 10:\n{mat1D + 10}")
print(f"mat2D ditambah dengan 2:\n{mat2D + 2}")

2
[50 60 70 80]
70
mat1D ditambah dengan 10:
[11 12 13 14 15 16 17 18 19]
mat2D ditambah dengan 2:
[[ 12  22  32  42]
 [ 52  62  72  82]
 [ 92 102 112 122]]

In [28]:
print(mat1D.shape)
print(mat1D.size)
print(f"Bentuk dari mat2D:{mat2D.shape}")
print(f"Ukuran dari mat2D:{mat2D.size}")

(9,)
9
Bentuk dari mat2D:(3, 4)
Ukuran dari mat2D:12

In [62]:
#Matriks Spesial
mZero = np.zeros((4,4))
mOne = np.ones ((3,3))
mIdentity = np.eye((3))
mFull = np.full((3,4),9)
mRand1D = np.random.rand(5)
mRand2D = np.random.rand(3,4)
mRandInt1D = np.random.randint (1,100, size =8)
mRandInt2D = np.random.randint (1,100, size =(3,3))

In [66]:
print(f"mZero :\n{mZero}")
print(f"mOne :\n{mOne}")
print(f"mIdentity :\n{mIdentity}")
print(f"mFull :\n{mFull}")
print(f"mRand1D :\n{mRand1D}")
print(f"mRand2D :\n{mRand2D}")
print(f"mRandInt1D : \n{mRandInt1D}")
print(f"mRandInt2D : \n{mRandInt2D}")

mZero :
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
mOne :
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
mIdentity :
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
mFull :
[[9 9 9 9]
 [9 9 9 9]
 [9 9 9 9]]
mRand1D :
[0.30107663 0.25478979 0.86465914 0.41845885 0.18799215]
mRand2D :
[[0.29859419 0.5061407  0.33572679 0.72211125]
 [0.97622944 0.25214267 0.07098841 0.3173174 ]
 [0.18983048 0.67901809 0.3395565  0.05617698]]
mRandInt1D :
[41 62 67 98 40 35 41 22]
mRandInt2D :
[[42 99 14]
 [13  6 87]
 [63 13 75]]

In [68]:
#operasi Aritmatika
x = np.array([1,2,3,4,5])
y = np.array([6,7,8,9,10])

r1 = np.add(x,y)
r2 = np.dot(x,y)

print(f"Hasil penjumlahan x dan y : {r1}")
print(f"Hasil Perkalian x dan y : {r2}")

Hasil penjumlahan x dan y : [ 7  9 11 13 15]
Hasil Perkalian x dan y : 130

In [82]:
#Fungsi dasar statistik
nilaiPrograming = np.array([100,90,90,50,80,60,50,85])
print(f"Niai Pemrograman : {nilaiPrograming}")
print(f"Nilai yang paling rendah : {np.min(nilaiPrograming)}")
print(f"Nilai yang paling tinggi : {np.max(nilaiPrograming)}")
print(f"Nilai yang paling rata-rata : {np.mean(nilaiPrograming)}")
print(f"Nilai Total keseluruhan : {np.sum(nilaiPrograming)}")
print(f"Nilai Standar Deviasi : {np.std(nilaiPrograming)}")
print(f"Nilai yang paling tengah : {np.median(nilaiPrograming)}")

Niai Pemrograman : [100  90  90  50  80  60  50  85]
Nilai yang paling rendah : 50
Nilai yang paling tinggi : 100
Nilai yang paling rata-rata : 75.625
Nilai Total keseluruhan : 605
Nilai Standar Deviasi : 18.275239396516806
Nilai yang paling tengah : 82.5

In [94]:
#Operasi bentuk
matX = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(f"matX adalah:\n{matX}")
print(f"matX diubah bentuk:\n{matX.reshape(1,10)}")
print(f"matX diubah menjadi bentuk flat:{matX.flatten()}")

matX adalah:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
matX diubah bentuk:
[[ 1  2  3  4  5  6  7  8  9 10]]
matX diubah menjadi bentuk flat:[ 1  2  3  4  5  6  7  8  9 10]

In [108]:
#filtering
lulus = nilaiPrograming[nilaiPrograming > 50]

print(f"Daftar nilai yang lulus:{lulus}")
print(f"Jumlah yang lulus:{lulus.size}")

Daftar nilai yang lulus:[100  90  90  80  60  85]
Jumlah yang lulus:6

<b1>Contoh Kasus Data Set</b1>
buatlah data set sebanyak 10.000 untuk proses klasifikasi nasabah kartu kredit
<ol>
    <li>Usia : 17 - 60</li>
    <li>Gneder : L/P</li>
    <li>Gaji : 1jt-3jt,3jt-5jt,5jt-10jt</li>
    <li>Jumlah Anak : 0 - 6</li>
</ol>

In [163]:
import numpy as np
import pandas as pd

n_data = 10000
usia = np.random.randint(17,61,size=n_data)
gender = np.random.choice(['L','P'],size=n_data)
gaji = np.random.choice(['1-3jt','3-5jt','5-10jt'],size=n_data)
anak = np.random.randint(0,7,size=n_data)

df = pd.DataFrame({
    'Usia' : usia,
    'Gender': gender,
    'Gaji' : gaji,
    'Jumalh-Anak' : anak
})

df.to_csv('data_calon_nasabah.csv')

print(df.info())
print(df.head())
print(df.shape)
print(df.size)
#Tampilkan calon nasbah yang palig mudah
print(f"Usia termuda : {df['Usia'].min()}")
#Tampilkan Usia calon rata-rata yang paling tua
print(f"Usia Tertua : {df['Usia'].max()}")
#Tampilkan Gaji rata-rata

#Tampilkan berapa Jumlah Laki-Laki
Jumlahlaki = df[df['Gender']=='L']
print(f"Jumlah Calon Nasabah Pria : {Jumlahlaki.size/4}")
print(f"Jumlah Calon Nasabah Pria : {Jumlahlaki['Gender'].size}")
#Tampilkan berapa Jumlah Perempuan
Jumlahperempuan = df[df['Gender']=='P']
print(f"Jumlah Calon Nasabah Peremuan : {Jumlahperempuan.size/4}")
print(f"Jumlah Calon Nasabah perempuan : {Jumlahperempuan['Gender'].size}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Usia         10000 non-null  int32
 1   Gender       10000 non-null  object
 2   Gaji         10000 non-null  object
 3   Jumalh-Anak  10000 non-null  int32
dtypes: int32(2), object(2)
memory usage: 234.5+ KB
None
   Usia Gender    Gaji  Jumalh-Anak
0    43      P   1-3jt            2
1    17      L   1-3jt            3
2    42      P   1-3jt            1
3    25      P   3-5jt            2
4    29      P  5-10jt            1
(10000, 4)
40000
Usia termuda : 17
Usia Tertua : 60
Jumlah Calon Nasabah Pria : 4917.0
Jumlah Calon Nasabah Pria : 4917
Jumlah Calon Nasabah Peremuan : 5083.0
Jumlah Calon Nasabah perempuan : 5083