In [31]:
name = "Dwi"
age = 19
address, province = "Bekasi","1500444"
scorePython = 79.5
isMarried = False

print ("Nama :", name)
print ("Umur :", age)
print ("Alamat :",address)
print ("Nilai Pemrograman :", scorePython)
print ("Status Menikah :", isMarried)

Nama : Dwi
Umur : 19
Alamat : Bekasi
Nilai Pemrograman : 79.5
Status Menikah : False

In [33]:
print ("Tipe Data <name>", type(name))
print ("Tipe Data <age>", type(age))
print ("Tipe Data <address>", type (address))
print ("Tipe Data <province>", type (province))
print ("Tipe Data <scorePython>", type (scorePython))
print ("Tipe Data <isMarried>", type (isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [47]:
#Casting atau konversi Tipe Data
#konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool,sep="-")

#konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool,sep="-")

#Konversi dari float ke (str,int,bool)
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr,floatToInt,floatToBool,sep="-")

#Konversi bool ke (int,str,float)
boolToInt = int(isMarried)
boolToStr = str(isMarried)
boolToFloat = float(isMarried)
print(boolToInt,boolToStr,boolToFloat,sep="-")

1500444-1500444.0-True
19-19.0-True
79.5-79-True
0-False-0.0

In [65]:
#Tipe data basis bilangan (desimal,biner,octal,hexa)
desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal :",desimal)
print("Nilai Biner :",biner)
print("Nilai Octal :",octal)
print("Nilai Hexa :",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai Octal dari ",desimal, ":",oct(desimal))
print("Nilai Hexa dari ",desimal, ":",hex(desimal))

Nilai desimal : 500
Nilai Biner : 10
Nilai Octal : 255
Nilai Hexa : 255
Nilai biner dari  500 : 0b111110100
Nilai Octal dari  500 : 0o764
Nilai Hexa dari  500 : 0x1f4

In [99]:
#Tipe Data Collection
#List
cities = ["Bandung","Bekasi","Jakarta","Sukabumi","Banten"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Kediri"
print(cities)

#Tuple
names = ("Aufa","Zafran","Naufal")
print(names)
print(names[1])

#Dictionary
studentData = {
    "name" : "Aufa",
    "age" : 20,
    "address" : {
        "street" : "Soedirman",
        "number" : 15,
        "Province" : "DKI-Jakarta"
    },
    "isMarried" : False,
    "hobbies" : ["Badminton", "Futsal", "Ngoding"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"] ["Province"])
print(studentData["hobbies"] [0])

#List of Dictionary
studentList = [
{
    "name" : "Zafran",
    "age" : 19,
    "address" : {
        "street" : "Jl.Elang",
        "number" : 5,
        "Province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["Badminton", "Futsal", "Ngoding"]
},
{
    "name" : "Naufal",
    "age" : 18,
    "address" : {
        "street" : "Jl. Garuda",
        "number" : 4,
        "Province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["Main Game", "Sepeda"]
}
]
print(studentList[0])
print(studentList[1])
print(studentList[1] ["address"]["Province"])

['Bandung', 'Bekasi', 'Jakarta', 'Sukabumi', 'Banten']
Bandung
Banten
B
n
['Kediri', 'Bekasi', 'Jakarta', 'Sukabumi', 'Banten']
('Aufa', 'Zafran', 'Naufal')
Zafran
{'name': 'Aufa', 'age': 20, 'address': {'street': 'Soedirman', 'number': 15, 'Province': 'DKI-Jakarta'}, 'isMarried': False, 'hobbies': ['Badminton', 'Futsal', 'Ngoding']}
20
DKI-Jakarta
Badminton
{'name': 'Zafran', 'age': 19, 'address': {'street': 'Jl.Elang', 'number': 5, 'Province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Badminton', 'Futsal', 'Ngoding']}
{'name': 'Naufal', 'age': 18, 'address': {'street': 'Jl. Garuda', 'number': 4, 'Province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Main Game', 'Sepeda']}
Jawa Barat

In [113]:
#Konversi Dictionary
list_list = [["Name", "Aufa"],["age", 20],["Status",False]]
dictListSenior = dict(list_list)
print(dictListSenior)
list_tuple = [("Name","Zafran"),("address", "Jl.Elang")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)
tuple_list = (["Name", "Kerbau"],["Type", "Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)
tuple_tuple = (("Name","Burung"),("Type", "Unggas"))
dictTupAnimal = dict(tuple_tuple)
print(dictTupAnimal)

{'Name': 'Aufa', 'age': 20, 'Status': False}
{'Name': 'Zafran', 'address': 'Jl.Elang'}
{'Name': 'Kerbau', 'Type': 'Mamalia'}
{'Name': 'Burung', 'Type': 'Unggas'}