<h1>ARITMATIKA</h1>

In [4]:
ApelBudi = 12
Teman = 4
Samarata = ApelBudi/Temen

print ("Budi memiliki 12 Apel dan ingin membaginya dengan 4 teman nya secara merata. Berapa apel yang di terima setiap teman")
print ("Apel :",ApelBudi)
print ("Teman :", Teman)
print ("Apel dibagi Teman :", Samarata)

print ("Jika Budi mendapatkan tambahan 8 Apel, berapa total apel yang dimilikinya sekarang?")
ApelBudi += 8
Samarata = ApelBudi / Teman
print ("Apel Budi :", ApelBudi)
print ("Sama rata :", Samarata)

Budi memiliki 12 Apel dan ingin membaginya dengan 4 teman nya secara merata. Berapa apel yang di terima setiap teman
Apel : 12
Teman : 4
Apel dibagi Teman : 3.0
Jika Budi mendapatkan tambahan 8 Apel, berapa total apel yang dimilikinya sekarang?
Apel Budi : 20
Sama rata : 5.0

<h1>Perbandingan</h1>

In [9]:
print ("Siti memiliki tinggi 160cm, sedangkan Andi 165cm. Gunakan operator perbandingan untuk menentukan siapa yang lebih tinggi?")

Siti = 160
Andi = 165

if Andi > Siti:
    print("Andi")
else:
    print("Siti")

Siti memiliki tinggi 160cm, sedangkan Andi 165cm. Gunakan operator perbandingan untuk menentukan siapa yang lebih tinggi?
Andi

<h1>Operator Logika</h1>

In [23]:
print ("Budi hanya bisa bermain di luar jika cuaca cerah dan dia sudah menyelesaikan PR-nya.")

premis1 = "Cuaca cerah"
premis2 = "Pr selesai"

if ("Bisa bermain"):
    premis1 and premis2
    print ("Bisa bermain")
else:
    premis1 or premis2
    print ("tidak bisa bermain")

Budi hanya bisa bermain di luar jika cuaca cerah dan dia sudah menyelesaikan PR-nya.
Bisa bermain

<h1>Operator Bitwise</h1>

In [41]:
num1 = int(input("Insert bilangan 1: "))
num2 = int(input("Insert bilangan 2: "))

print()
bAnd = num1&num2
print(bin(num1))
print(bin(num2))
print("==========")
print(bin(bAnd),"=",bAnd)
print()
bOr = num1|num2
print(bin(num1))
print(bin(num2))
print("==========")
print(bin(bOr),"=",bOr)
print()
bXor = num1^num2
print(bin(num1))
print(bin(num2))
print("==========")
print(bin(bXor),"=",bXor)
print()

Insert bilangan 1:  6
Insert bilangan 2:  3

0b110
0b11
==========
0b10 = 2

0b110
0b11
==========
0b111 = 7

0b110
0b11
==========
0b101 = 5

<h1>Opeator penugasan</h1>

In [7]:
pulsa = int(input("Masukan nominal pulsa anda :"))
print ("Saldo pulsa anda adalah: ", pulsa)
pulsa += 20000
print ("Setelah diisi ulang :", pulsa)
pulsa -= 30000
print ("Setelah dibelikan kouta, sisa pulsa anda adalah: ", pulsa)

Masukan nominal pulsa anda : 50000

Saldo pulsa anda adalah:  50000
Setelah diisi ulang : 70000
Setelah dibelikan kouta, sisa pulsa anda adalah:  40000

<h1>Operator Keanggotaan</h1>

In [96]:
listpeserta = ["Andi","Budi","Citra","Dewi"]
findpeserta = input ("cari peserta: ")
print("Is there any",findpeserta,"in",listpeserta,"?",)
print ("False") if findpeserta not in listpeserta else ("True")  
print()

kalimat = "Saya suka belajar Python"
cekkata = "Python"
print (kalimat)
print("adakah kata", cekkata, "pada", kalimat,"?")
print (cekkata in kalimat)

cari peserta:  eko

Is there any eko in ['Andi', 'Budi', 'Citra', 'Dewi'] ?
False

Saya suka belajar Python
adakah kata Python pada Saya suka belajar Python ?
True

<h1>Operator Identitas</h1>

In [107]:
x = 5
y = 5

print ("apakah nilai x dan nilai y sama", x is y)

apakah nilai x dan nilai y sama True

In [119]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

print (list1)
print (list2)
print("apakah list1 dan list2 sama: ",list1 is list2)
print("apakah list1 dan list2 memiliki nilai yang sama:",list1==list2)

[1, 2, 3]
[1, 2, 3]
apakah list1 dan list2 sama:  False
apakah list1 dan list2 memiliki nilai yang sama: True

<h1>Operator Ternary</h1>

In [126]:
bil = int(input("Isikan bilangan:"))
print("Benar" if  bil>100 else "tidak benar")
print("bilangan", bil,"lebih besar dari 100." if bil>100 else "lebih kecil dari 100.")

Isikan bilangan: 80

tidak benar
bilangan 80 lebih kecil dari 100.

In [130]:
score = int(input("Isikan bilangan:"))
print("score anda", score,"anda lulus" if score>70 else "anda tidak lulus.")

Isikan bilangan: 75

score anda 75 anda lulus