In [2]:
DataMahasiswa = []
def main():
    while True:
        print("Menu Data Mahasiswa.")
        print("1. Tambah data Mahasiswa.")
        print("2. Tampilkan data Mahasiswa.")
        print("3. keluar.")
        try:
            pilihan = input("Pilih anga untuk memilih menu(1/2/3):")
            if pilihan == "1":
                TambahDataMahasiswa(DataMahasiswa)
            elif pilihan == "2":
                TampilkanDataMahasiswa(DataMahasiswa)
            elif pilihan == "3":
                print("Terimakasih anda sudah keluar!")
                break
            else:
                print("Error: Pilihan harus antara 1/2/3.")
        except Exception as e:
            print(f"Terjadi kesalahan: {str(e)}")
            print("Silahkan coba lagi")

def TambahDataMahasiswa(DataMahasiswa):
    print("\n Tambah Data Mahasiswa ")
    while True:
        try:
            NIM = input("Masukkan NIM (11 digit angka): ")
            if not NIM.isdigit():
                raise ValueError("NIM harus berupa angka.")
            if len(NIM) != 11:
                raise ValueError("NIM harus tepat 11 digit.")
            break
        except ValueError as ve:
            print(f"Error: {ve}")
            print("Contoh yang benar: 20230274291\n")
    while True:
        try:
            nama = input("Masukkan Nama (minimal 6 karakter): ")
            if len(nama) < 6:
                raise ValueError("Nama harus minimal 6 karakter.")
            break
        except ValueError as ve:
            print(f"Error: {ve}")
    while True:
        try:
            alamat = input("Masukkan Alamat (minimal 10 karakter): ")
            if len(alamat) < 10:
                raise ValueError("Alamat harus minimal 10 karakter.")
            break
        except ValueError as ve:
            print(f"Error: {ve}")
    while True:
        try:
            kelas = input("Masukkan Kelas (TI23 atau TI24): ").upper()
            if kelas not in ["TI23", "TI24"]:
                raise ValueError("Kelas hanya boleh TI23 atau TI24.")
            break
        except ValueError as ve:
            print(f"Error: {ve}")

    DataMahasiswa.append({
        "nim": NIM,
        "nama": nama,
        "alamat": alamat,
        "kelas": kelas
    })
    print("Data berhasil ditambahkan!\n")
    
def TampilkanDataMahasiswa(data):
    if not data:
        print("Belum ada data mahasiswa.\n")
    else:
        print("\nData Mahasiswa:")
        print("="*50)
        for i, mhs in enumerate(data, start=1):
            print(f"{i}. NIM   : {mhs['nim']}")
            print(f"   Nama  : {mhs['nama']}")
            print(f"   Alamat: {mhs['alamat']}")
            print(f"   Kelas : {mhs['kelas']}")
            print("-"*50)
main()

Menu Data Mahasiswa.
1. Tambah data Mahasiswa.
2. Tampilkan data Mahasiswa.
3. keluar.

Pilih anga untuk memilih menu(1/2/3): 1

 Tambah Data Mahasiswa

Masukkan NIM (11 digit angka):  202400861

Error: NIM harus tepat 11 digit.
Contoh yang benar: 20230274291

Masukkan NIM (11 digit angka):  20240040174
Masukkan Nama (minimal 6 karakter):  Dwi

Error: Nama harus minimal 6 karakter.

Masukkan Nama (minimal 6 karakter):  Haryanto
Masukkan Alamat (minimal 10 karakter):  sukaraja

Error: Alamat harus minimal 10 karakter.

Masukkan Alamat (minimal 10 karakter):  Jl.Elang-v-Bekasi-JawaBarat
Masukkan Kelas (TI23 atau TI24):  TI25

Error: Kelas hanya boleh TI23 atau TI24.

Masukkan Kelas (TI23 atau TI24):  TI24G

Error: Kelas hanya boleh TI23 atau TI24.

Masukkan Kelas (TI23 atau TI24):  TI24

Data berhasil ditambahkan!

Menu Data Mahasiswa.
1. Tambah data Mahasiswa.
2. Tampilkan data Mahasiswa.
3. keluar.

Pilih anga untuk memilih menu(1/2/3): 2

Data Mahasiswa:
==================================================
1. NIM   : 20240040174
   Nama  : Haryanto
   Alamat: Jl.Elang-v-Bekasi-JawaBarat
   Kelas : TI24
--------------------------------------------------
Menu Data Mahasiswa.
1. Tambah data Mahasiswa.
2. Tampilkan data Mahasiswa.
3. keluar.

Pilih anga untuk memilih menu(1/2/3): 1

 Tambah Data Mahasiswa

Masukkan NIM (11 digit angka):  2023039873

Error: NIM harus tepat 11 digit.
Contoh yang benar: 20230274291

Masukkan NIM (11 digit angka):  202303987

Error: NIM harus tepat 11 digit.
Contoh yang benar: 20230274291

Masukkan NIM (11 digit angka):  20230398703
Masukkan Nama (minimal 6 karakter):  Nurmandi
Masukkan Alamat (minimal 10 karakter):  Jl.Garuda-3-Baros-JawaBarat
Masukkan Kelas (TI23 atau TI24):  TI23

Data berhasil ditambahkan!

Menu Data Mahasiswa.
1. Tambah data Mahasiswa.
2. Tampilkan data Mahasiswa.
3. keluar.

Pilih anga untuk memilih menu(1/2/3): 2

Data Mahasiswa:
==================================================
1. NIM   : 20240040174
   Nama  : Haryanto
   Alamat: Jl.Elang-v-Bekasi-JawaBarat
   Kelas : TI24
--------------------------------------------------
2. NIM   : 20230398703
   Nama  : Nurmandi
   Alamat: Jl.Garuda-3-Baros-JawaBarat
   Kelas : TI23
--------------------------------------------------
Menu Data Mahasiswa.
1. Tambah data Mahasiswa.
2. Tampilkan data Mahasiswa.
3. keluar.

Pilih anga untuk memilih menu(1/2/3): 3

Terimakasih anda sudah keluar!