<h1>LOOPING</h1>

In [42]:
# Perulangan / Looping
# For - while
# Collection -> list, tuple, set, dictionary

In [46]:
# for variabel in colection
fruits = ["Apple","Banana","Watermelon","Pinapple"]
for fruit in fruits :
    print(f"Nama Buah: {fruit}")
print("Looping Selesai!")

Nama Buah: Apple
Nama Buah: Banana
Nama Buah: Watermelon
Nama Buah: Pinapple
Looping Selesai!

In [48]:
# Hitunglah rata-rata dari nilai pemrograman TI24G
pythonScore = [90,100,85,60,60,50]

#1. Menghitung jumlah total dari nilai - didalam looping
#2. Membagi dengan jumlah data - diluar looping
#3. Hitunglah jumlah mahasiswa yang lulus >=70
#4. Hitunglah jumlah mahasiswa yang tidak lulus

total = 0
lulus = 0
for score in pythonScore:
    if score >=70:
        lulus+=1
    total = total + score
rata2 = total / len(pythonScore)
tidaklulus = len(pythonScore)-lulus
print(f"Rata-rata nilai pemrograman TI24G adalah: {rata2}")
print(f"Jumlah Mahasiswa yang lulus ada: {lulus}")
print(f"Jumlah Mahasiswa yang tidak lulus ada: {tidaklulus}")

Rata-rata nilai pemrograman TI24G adalah: 74.16666666666667
Jumlah Mahasiswa yang lulus ada: 3
Jumlah Mahasiswa yang tidak lulus ada: 3

In [50]:
# Menghitung jumlah huruf vokal
sentences = input("Isikan kalimat: ")
vokal = ['a','i','u','e','o']
total = 0

for char in sentences:
    if char.lower() in vokal:
        total+=1
print (f"Jumlah huruf vokal: {total}")

Isikan kalimat:  Onee-san

Jumlah huruf vokal: 4

In [56]:
# List comprehention
data = [10,20,30,40,50]
square = [x**2 for x in data]
print(square)

pythonScore = [90,100,85,60,60,50]
passExam = ["Lulus" if x >= 70 else "Tidak Lulus" for x in pythonScore]
print(passExam)

[100, 400, 900, 1600, 2500]
['Lulus', 'Lulus', 'Lulus', 'Tidak Lulus', 'Tidak Lulus', 'Tidak Lulus']

In [60]:
# Enumerate
months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Des"]
for index,month in enumerate(months):
    print(f"{index} : {month}")

0 : Jan
1 : Feb
2 : Mar
3 : Apr
4 : May
5 : Jun
6 : Jul
7 : Aug
8 : Sep
9 : Oct
10 : Nov
11 : Des

In [80]:
# Menghitung berapa jumlah laki-laki dan perempuan pada tempat duduk dibioskop
chairs = ["L","P","L","L","P","L",""]
Laki = 0
perempuan = 0
BangkuKosong = 0

for karakter in chairs:
    if karakter =="L":
        Laki+=1
    elif karakter =="P":
        perempuan+=1
    else:
        BangkuKosong+=1
        
print(f"Jumlah Tempat duduk Laki-Laki : {Laki}")
print(f"Jumlah tempat duduk perempuan : {perempuan}")
print(f"Jumlah Tempat duduk yang kosong: {BangkuKosong}")

Jumlah Tempat duduk Laki-Laki : 4
Jumlah tempat duduk perempuan : 2
Jumlah Tempat duduk yang kosong: 1

In [104]:
chairs = ["L","","P","L","P","","P","P"]
totalCouple = 0
for index, chair in enumerate(chairs):
    #print(f"{index} : {chair}")
    if index < len(chairs)-1:
        if chairs[index] !="" and chairs[index+1] !="":
            if chairs[index] != chairs[index +1]:
                totalCouple +=1
print(f"Jumlah penonton Couple : {totalCouple}")

Jumlah penonton Couple : 2

In [130]:
#Range
for i in range(10):
    print(f"{i} ", end = '')
print()
for j in range(15):
    print(f"{j} ", end = '')
print()
#10,20,30,40,50,...,100.
for k in range(1,11):
    print(k * 10, " ", end = '')
print()
for m in range(10,20,2):
    print(m, "", end ='')
print()
for n in range(10,0,-1):
    print(n, "", end ='')
print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
10  20  30  40  50  60  70  80  90  100
10 12 14 16 18
10 9 8 7 6 5 4 3 2 1

In [138]:
# faktorial
# 5 = 1*2*3*4*5 = 120

number = int(input("Isikan Nilai :"))
total = 1
for i in range(1,number+1):
    total *= i
print(f"{number}!= {total}")

Isikan Nilai : 5

5!= 120

In [152]:
#Cek bil Prima atau bukan prima
number = int(input("Isikan Nilai :"))
faktor = 0
for i in range(1,number+1):
    if number % i == 0:
        faktor+=1
if faktor == 2:
    print(f"{number} adalah bil prima")
else:
    print(f"{number} bukan bil prima")

Isikan Nilai : 7

7 adalah bil prima

In [156]:
# 1, -2, 3, -4, 5, -6, 7, -8, 9 ,-10

sign = 1
for i in range (1,11):
    result = sign * i
    print(result, "", end='')
    sign = sign * -1

1 -2 3 -4 5 -6 7 -8 9 -10