In [11]:
import pandas as pd
df = pd.read_csv('dpmdes-idm_jml_tng_ajar_sklh_mngh_prtm_mdrsh_tsanawiyah_smpmts__des_ke_data.csv')

df.head()

,kode_provinsi,nama_provinsi,bps_kode_kabupaten_kota,bps_nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,jumlah_guru_smp,satuan,tahun,id
0,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201190,GUNUNG PUTRI,3201190006,WANAHERANG,32.01.02,GUNUNG PUTRI,32.01.02.2001,WANAHERANG,162.0,ORANG,2019,1
1,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201190,GUNUNG PUTRI,3201190010,BOJONG KULUR,32.01.02,GUNUNG PUTRI,32.01.02.2002,BOJONG KULUR,81.0,ORANG,2019,2
2,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201190,GUNUNG PUTRI,3201190009,CIANGSANA,32.01.02,GUNUNG PUTRI,32.01.02.2003,CIANGSANA,49.0,ORANG,2019,3
3,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201190,GUNUNG PUTRI,3201190002,GUNUNG PUTRI,32.01.02,GUNUNG PUTRI,32.01.02.2004,GUNUNG PUTRI,12.0,ORANG,2019,4
4,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201190,GUNUNG PUTRI,3201190004,BOJONG NANGKA,32.01.02,GUNUNG PUTRI,32.01.02.2005,BOJONG NANGKA,90.0,ORANG,2019,5

In [20]:
total_guru_smp = df['jumlah_guru_smp'].sum()

print("Total seluruh guru SMP:", total_guru_smp)

Total seluruh guru SMP: 776570.61

In [21]:
grouped = df.groupby('bps_nama_desa_kelurahan')['jumlah_guru_smp'].sum().reset_index()

grouped_sorted = grouped.sort_values(by='jumlah_guru_smp', ascending=False)

print(grouped_sorted.head(10))

     bps_nama_desa_kelurahan  jumlah_guru_smp
40                BABAJURANG          18410.6
965                 CITALEUS          10015.0
2084               MEKARSARI           5834.0
2068               MEKARJAYA           5086.0
220              BOJONG TUGU           5078.0
3002                SUKAMAJU           4826.0
2644             RANJI WETAN           4760.0
445                  CIBEUSI           4285.0
2200               PADAHURIP           4102.0
2169               NEGLASARI           4071.0

In [2]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12,6))
plt.bar(top10['bps_nama_desa_kelurahan'], top10['jumlah_guru_smp'], color='skyblue')
plt.title('10 Desa dengan Jumlah Guru SMP Terbanyak')
plt.xlabel('Desa')
plt.ylabel('jumlah Guru SMP')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()

# Tampilkan grafik
plt.show()

NameError: name 'top10' is not defined